<template>
  <div class="<%= data.lowerName %>_wrap">
    {{ msg }}
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";

interface Obj {
  msg: string;
  changeMsg: (str: string) => void;
}
export default defineComponent({
  name: "<%= data.name %>",
  setup() {
    const obj: Obj = reactive({
      msg: "<%= data.lowerName %>",
      changeMsg(str: string) {
        this.msg = str;
      }
    });
    return {
      ...toRefs(obj)
    };
  }
});
</script>
<style lang="scss" scoped>
.<%= data.lowerName %>_wrap {
  cursor: auto;
}
</style>
